{% layout "layout.liquid" %} {% block content %}
<div>
    <a href="/users/login">
        <button>Log in!</button>
    </a><br><br>

    <a href="/users/signup">
        <button>Sign up!</button>
    </a><br><br>

    <a href="/albums">
        <button>Enter!</button>
    </a>
</div>
{% endblock %}