body {
    text-align: center;
    background-color: bisque;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Courier New', Courier, monospace;
    margin: 0 10%;
}

p {
    font-size: large;
}

section {
    display: flex;
    justify-content: center;
}

.item {
    margin: 2%;
}

.albumInfo {
    display: none;
}
