body {
    text-align: center;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(11, 0, 65, 0.9500175070028011) 32%, rgb(17, 117, 136) 100%);
    /* Gradient created with https://cssgradient.io/ */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 0;
}

p {
    font-size: large;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.discover, .favorites {
    background-color: black;
    animation: alternate 5s colorChange infinite;
}

@keyframes colorChange {
    from {
        background-color: rgb(49, 49, 49);
    }

    to {
        background-color: grey;
    }
}

button {
    background-color: white;
    border: 1px solid rgb(26, 31, 35);
    border-radius: 5px;
    box-shadow: rgb(27, 31, 35) 0 1px 0;
    color: rgb(25, 20, 20);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    line-height: 25px;
    padding: 0 10px;
    transition: color 60ms;
}

button:hover {
    background-color: grey;
    transition: 0.2s;
}

a:hover {
    color: grey;
    opacity: 0.5;
    transition: 0.2s;
    /* Transition effects on hover (color) */
}

.item {
    margin: 2%;
}

.albumInfo {
    display: none;
}

.single {
    float: left;
    padding: 2% 3% 2% 0;
}

.single2 {
    margin: 0 8%;
}