{% layout "layout.liquid" %} {% block content %}
<div>
    <h2>{{ currentAlbum.title }}</h2>
    <img src="{{ currentAlbum.cover_big }}" alt="{{ currentAlbum.title }}"><br>
    {% if currentAlbum.summary %}
    <p>{{ currentAlbum.summary }}</p>
    {% endif %}<br>
</div>
{% endblock %}