{% layout "layout.liquid" %} {% block content %}
<div>
    <h2>{{ albumData.title }}</h2>
    <img src="{{ albumData.cover_big }}" alt="{{ albumData.title }}"><br>
    {% if summary %}
    <p>{{ summary }}</p>
    {% endif %}
    
</div>
{% endblock %}